<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cart">

<!-- 장바구니담기 -->
<insert id="insertCart" parameterType="CartVO">
	insert into cart (
	cart_num,cart_count,user_id,product_code)
	values
	(cart_seq.NEXTVAL,#{cart_count},#{user_id},#{product_code})
</insert>

<!-- 장바구니 수량가져오기 (장바구니 번호로만 조회화는 경우, 아이디+상품코드로 조회하는경우)-->
<select id="selectCountCart" parameterType="CartVO" resultType="int">
	select cart_count 
	from cart 
	<where>
	 	1>0 
		<if test="cart_num!=null and cart_num!=''">
			and cart_num=#{cart_num}
		</if>
		<if test="user_id!=null and user_id!=''">
			and user_id=#{user_id}
			and product_code=#{product_code}
		</if>
	</where>
</select>

<!-- 장바구니 수량 변경 (장바구니 번호로만 , 아이디+상품코드로 ) -->
<update id="updateCountCart" parameterType="CartVO">
	update cart set 
	cart_count=#{cart_count} 
	<where>
	 	1>0 
		<if test="cart_num!=null and cart_num!=''">
			and cart_num=#{cart_num}
		</if>
		<if test="user_id!=null and user_id!=''">
			and user_id=#{user_id}
			and product_code=#{product_code}
		</if>
	</where>
</update>

<!-- 장바구니에 해당 상품 있는지 조회 -->
<select id="selectCartProduct" parameterType="CartVO" resultType="int">
	select count(*)
	from cart
	where user_id=#{user_id}
		and product_code=#{product_code}
</select>

<!-- 장바구니 갯수 가져오기 -->
<select id="cartListCount" parameterType="String" resultType="int">
	select count(*) 
	from cart 
	where user_id=#{user_id}
</select>

<!-- 장바구니 목록 가져오기 -->
<select id="cartAllList" parameterType="String" resultType="CartPrdVO">
	select c.cart_num,p.product_code,p.product_img1,p.product_name,
		p.product_price,p.product_delivery_charge,c.cart_count
	from product p, cart c 
	where p.product_code=c.product_code 
		and c.user_id=#{user_id} order by c.cart_num asc
</select>

<!-- 장바구니 상품 선택한것만 가져오기 -->
<select id="cartCheckedList" parameterType="map" resultType="CartPrdVO">
	select c.cart_num,p.product_code,p.product_img1,p.product_name,
		p.product_price,p.product_delivery_charge,c.cart_count 
	from product p, cart c 
	where p.product_code=c.product_code
		and c.user_id=#{user_id} 
		and c.cart_num in (${cart_num}) 
	order by c.cart_num asc
</select>



<!-- 장바구니 삭제 -->
<delete id="deleteCart" parameterType="String">
	delete from cart where cart_num=#{cart_num}
</delete>
</mapper>